<div class="box-prova">
<p>Digite a placa</p>    
<input type="text" id="placa"> 
<button type="button" id="btn-busca">Busca</button>
</div>

<div class="resultado">
    <div>
        <p id="resultado"></p>
        <spam id="close-cars">X</spam>
    </div>
</div>

